body {
    padding: 0;
    margin: 0;
}

#header {
    background-color: purple;
    height : 2em;
}


.content {
    margin: 10px;
}

#call {
    color: white;
    background: purple;
    text-decoration: none;
}
